# VScode
.vscode/

# Python

__pycache__/
bin/
lib/
lib64/
pyvenv.cfg
lib64

# Development
old/
# Wont allow .todo
todo.md

# tensorboard logs
tb_logs/

# SQL databases
*.sqlite3
*.db

# data
lichess/
checkpoints/
